body {
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

i {
    text-decoration: none;
    outline: none;
}
h1,
h2,
p {
    color: #fff;
}

#nombre {
    font-size: 60px;
    line-height: 1.2;
    white-space: pre;
    margin-bottom: 30px;
    margin-top: -1px;
}

#cabecera {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

#cabecera h1 {
    padding-top: 50px;
}

#subcabecera {
    padding-top: 150px;
    text-align: center;
}


.div1 {
    float: left;
    width: 50%;
}

.div2 {
    float: right;
    width: 50%;
}


.div1,
.div2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#redes {
    margin-left: 26px;
}

#redes i {
    box-shadow: rgb(0, 0, 0) 15px 28px 25px -18px;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    transition: all 120ms ease-in-out;
}

#redes i:hover {
    box-shadow: rgba(0, 0, 0, 0.519) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#subtitulo {
    font-size: 25px;
}

#perfilContainer {
    text-align: center;
}

#perfilContainer img {
    margin-left: 50%;
    width: 300px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

body {
    background-color: #252525;
}

#textToShow {
    margin-top: 50px;
    font-size: 27px;
    margin-left: 5%;
    line-height: 1.2;
    white-space: pre-wrap;
    width: 90%;
    text-align: left;

}

