html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #252525;
    margin: 0; /* Agrega margen cero para evitar espacios innecesarios */
  padding: 0; /* Agrega padding cero para evitar espacios innecesarios */
}

a {
    text-decoration: none;
}

i {
    text-decoration: none;
    outline: none;
}
h1,h2,p {
    color: #fff;
}


#nombre {
    font-size: 3.75vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
    line-height: 1.2;
    white-space: pre;
    margin-bottom: 2.5vw; /* Utiliza una unidad relativa para el margen inferior */
    margin-top: -0.1vw; /* Utiliza una unidad relativa para el margen superior */
  }
  
  #cabecera {
    padding-top: 10vh; /* Utiliza una unidad relativa para el padding superior */
    padding-bottom: 10vh; /* Utiliza una unidad relativa para el padding inferior */
    width: 100%;
    display: flex; /* Utiliza flexbox para controlar el diseño en dispositivos más pequeños */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
  }

#cabecera h1 {
    padding-top: 50px;
}

#subcabecera {
    text-align: center;
}

.div1 {
    float: left;
    width: 50%;
}

.div2 {
    float: right;
    width: 50%;
}


.div1,.div2 {
    display: inline-block;
    width: 50%;
    vertical-align: center;
}

#redes {
    margin-left: 2.6vw;
}

#redes i {
    box-shadow: rgb(0, 0, 0) 15px 28px 25px -18px;
    font-size: 3.75vw;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    transition: all 120ms ease-in-out;
}

#redes i:hover {
    box-shadow: rgba(0, 0, 0, 0.519) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 1.2vw;
    line-height: 2.3vw;
    outline: none;
    padding: 1.25vw;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#subtitulo {
    font-size: 1.75vw;
}

#perfilContainer {
    text-align: center;
}

#perfilContainer img {
    margin-left: 50%;
    width: 25vw;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

#textToShow {
    margin-top: 2.5vw; /* Utiliza una unidad relativa para el margen superior */
    font-size: 1.75vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
    margin-left: 5%;
    line-height: 1.2;
    white-space: pre-wrap;
    width: 90%;
    text-align: left;
}

@media (max-width: 1920px) {

    #cabecera {
        padding-top: 22vh;
        padding-bottom: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #subcabecera {
        text-align: center;
        padding-bottom: 9vw;
      }

    #nombre {
        font-size: 4vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
        line-height: 1.2;
        white-space: pre;
        margin-left: 2.5vw;
        margin-bottom: 2.5vw; /* Utiliza una unidad relativa para el margen inferior */
        margin-top: -0.1vw; /* Utiliza una unidad relativa para el margen superior */
      }
      
    #redes {
        margin-left: 4vw;
    }
    
    #redes i {
        box-shadow: rgb(0, 0, 0) 15px 28px 25px -18px;
        font-size: 2.2vw;
        color: #fff;
        margin-right: 10px;
        text-decoration: none;
        transition: all 120ms ease-in-out;
    }


}


@media (max-width: 1200px) {

    #nombre {
        font-size: 5vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
        line-height: 1.2;
        white-space: pre;
        margin-left: 2.5vw;
        margin-bottom: 2.5vw; /* Utiliza una unidad relativa para el margen inferior */
        margin-top: -2.1vw;
      }
      
      #cabecera {
        padding-top: 22vh;
        padding-bottom: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #subcabecera {
        text-align: center;
        padding-bottom: 11vw;
      }

}

@media (max-width: 800px) {

    #nombre {
        font-size: 5vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
        line-height: 1.2;
        white-space: pre;
        margin-left: 2.5vw;
        margin-bottom: 2.5vw; /* Utiliza una unidad relativa para el margen inferior */
        margin-top: -2.1vw;
      }
      
      #cabecera {
        padding-top: 32vh;
        padding-bottom: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #subcabecera {
        text-align: center;
        padding-bottom: 35vw;
      }

}

@media (max-width: 600px) {

    #nombre {
        font-size: 6vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
        line-height: 1.2;
        white-space: pre;
        margin-left: 2.5vw;
        margin-bottom: 2.5vw; /* Utiliza una unidad relativa para el margen inferior */
        margin-top: -0.1vw; /* Utiliza una unidad relativa para el margen superior */
      }

      #cabecera {
        padding-top: 35vh;
        padding-bottom: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #subcabecera {
        text-align: center;
        padding-bottom: 60vw;
      }

}

@media (max-width: 400px) {

    #nombre {
        font-size: 7vw; /* Utiliza una unidad relativa para el tamaño de la fuente */
        line-height: 1.2;
        white-space: pre;
        margin-left: 2.5vw;
        margin-bottom: 2vw; /* Utiliza una unidad relativa para el margen inferior */
        margin-top: -8.1vw;
      }
      
    #redes {
        margin-left: 4vw;
    }
    
    #redes i {
        box-shadow: rgb(0, 0, 0) 15px 28px 25px -18px;
        font-size: 2.2vw;
        color: #fff;
        margin-right: 10px;
        text-decoration: none;
        transition: all 120ms ease-in-out;
    }

    #cabecera {
        padding-top: 40vh;
        padding-bottom: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #subcabecera {
        text-align: center;
        padding-bottom: 80vw;
      }


}